.header__lang-link {
  margin: 0 18px 0 0;
  padding: 0;
  color: #FFFFFF;
  text-decoration: none;
}

.header__lang-link:last-of-type {
  margin: 0;
}

.header__lang-link:hover {
  transition-property: opacity;
  transition-duration: 1s;
  transition-timing-function: ease-out;
  opacity: 0.8;
}

