.page {
    background-color: #2A2C2F;
    min-width: 320px;
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    margin: auto;
    padding: 0;
    color: #FFFFFF;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; 
}