.photo-grid {
  display: grid;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
}

@media screen and (min-width: 1279px) {
  .photo-grid {
    margin-top: 92px;
    margin-bottom: 92px;
    width: 92.5vw;
    grid-template-columns: repeat(4, 22.2vw);
    grid-template-rows: repeat(3, 16.6vw) ;
    gap: 16px;
  }
}

@media screen and (max-width: 1279px) and (min-width: 1023px) {
  .photo-grid {
    margin-top: 92px;
    margin-bottom: 92px;
    width: 90.6vw;
    grid-template-columns: 29vw 29vw 29vw;
    grid-template-rows: repeat(4, 22vw);
    gap: 14px;
  }
}

@media (max-width: 1023px) and (min-width: 767px) {
  .photo-grid {
    margin-top: 88px;
    margin-bottom: 88px;
    width: 94vw;
    grid-template-columns: 46vw 46vw;
    grid-template-rows: repeat(6, 34.4vw);
    gap: 16px;
  }
}

@media (max-width: 767px) and (min-width: 425px) {
  .photo-grid {
    margin-top: 64px;
    margin-bottom: 64px;
    width: 90vw;
    grid-template-columns: 90vw;
    grid-template-rows: repeat(12, 67.5vw);
    gap: 12px;
  }
}

@media (max-width: 425px) {
  .photo-grid {
    margin-top: 64px;
    margin-bottom: 64px;
    width: 90vw;
    grid-template-columns: 90vw;
    grid-template-rows: repeat(12, 67.5vw);
    gap: 12px;
  }
}
