.cover__subtitle {
  font-weight: 400;
  text-align: center;
  z-index: 2;
  margin: 0;
  padding: 0;
  color: #FFFFFF;
  max-width: 360px;
  font-size: 18px;
  line-height: 22px;
  width: 30%;
  margin-top: 32px;
}

@media screen and (max-width: 1279px) and (min-width: 1023px) {
  .cover__subtitle {
    width: 35%;
  }
}

@media (max-width: 1023px) and (min-width: 767px) {
  .cover__subtitle {
    width: 50%;
  }
}

@media (max-width: 767px) {
  .cover__subtitle {
    font-size: 14px;
    line-height: 16px;
    width: 90%;
    margin-top: 16px;
  }
}
