.lead__image {
  padding: 0;
  object-fit: cover;
  object-position: center;
  margin-bottom: 0;
  margin-top: 0;
  margin-left: auto;
  margin-right: auto;
  width: 77vw;
  height: 48vw;
  max-width: 984px;
  max-height: 615px;
}

@media screen and (max-width: 1279px) and (min-width: 1023px) {
  .lead__image {
    width: 90vw;
    height: 56.3vw;
  }
}

@media (max-width: 1023px) {
  .lead__image {
    margin-left: 0;
    margin-right: 0;
    width: 100vw;
    height: 62.5vw;
  }
}
