.cover {
  width: 100%;
  aspect-ratio: 1184/740;
  margin: 0;
  padding: 0;
  z-index: 1;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
}