.lead__caption {
  font-style: normal;
  text-align: left;
  padding: 0;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  font-size: 10px;
  line-height: 14px;
  margin: 8px auto 0 auto;
}

@media screen and (min-width: 1279px) {
  .lead__caption {
    width: 77vw;
    margin-left: auto;
    margin-right: auto;
    max-width: 984px;
  }
}

@media screen and (max-width: 1279px) and (min-width: 1023px) {
  .lead__caption {
    width: 90vw;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (max-width: 1023px) and (min-width: 767px) {
  .lead__caption {
    margin-left: 24px;
  }
}

@media (max-width: 767px) and (min-width: 425px) {
  .lead__caption {
    margin-left: 24px;
  }
}

@media (max-width: 425px) {
  .lead__caption {
    margin-left: 16px;

  }
}
