.cover__title {
  font-weight: 900;
  text-align: center;
  z-index: 10;
  position: absolute;
  max-width: 560px;
  padding: 0;
  margin: 0;
  align-self: center;
  justify-self: center;
  text-decoration: none;
  color: #FFFFFF;
}

@media screen and (min-width: 1279px) {
  .cover__title {
    font-size: 72px;
    line-height: 76px;
    top: 33%;
  }
}

@media screen and (max-width: 1279px) and (min-width: 1023px) {
  .cover__title {
    font-size: 72px;
    line-height: 76px;
    top: 30%;
  }
}

@media (max-width: 1023px) and (min-width: 767px) {
  .cover__title {
    font-size: 72px;
    line-height: 76px;
    top: 24%;
  }
}

@media (max-width: 767px) and (min-width: 425px) {
  .cover__title {
    font-size: 32px;
    line-height: 35px;
    top: 16.5%;
  }
}

@media (max-width: 425px) {
  .cover__title {
    font-size: 32px;
    line-height: 35px;
    top: 16.5%;
  }
}
