.footer {
  padding: 0 0 24px 0;
  display: flex;
  justify-content: space-between;
  margin: 92px auto 0 auto;
  flex-direction: row;
  width: 92.5%;
}

@media screen and (max-width: 1279px) and (min-width: 1023px) {
  .footer {
    width: 90.6%;
  }
}

@media (max-width: 1023px) and (min-width: 767px) {
  .footer {
    margin: 88px auto 0 auto;
  }
}

@media (max-width: 767px) {
  .footer {
    width: 60%;
    margin: 48px 0 0 16px;
    flex-direction: column;
  }
}
