.place__url-heading {
  font-style: normal;
  font-weight: 400;
  color: #AAA;
  letter-spacing: 2px;
  margin: 0 0 12px 0;
  padding: 0;
  text-transform: uppercase;
  font-size: 12px;
  line-height: 170%;
}

@media (max-width: 1023px) and (min-width: 767px) {
  .place__url-heading {
    line-height: 12px;
  }
}

@media (max-width: 767px) {
  .place__url-heading {
    line-height: 12px;
    margin: 0 auto 12px auto;
    width: 90vw;
  }
}
