.intro__title {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 900;
  text-align: left;
  padding: 0;
}

@media screen and (min-width: 1279px) {
  .intro__title {
    width: 54vw;
    font-size: 54px;
    line-height: 58px;
    margin: 0 0 0 148px;
  }
}

@media screen and (max-width: 1279px) and (min-width: 1023px) {
  .intro__title {
    font-size: 54px;
    line-height: 58px;
    width: 67vw;
    margin: 0 0 0 48px;
  }
}

@media (max-width: 1023px) and (min-width: 767px) {
  .intro__title {
    font-size: 54px;
    line-height: 58px;
    width: 94vw;
    margin: 0 auto;
  }
}

@media (max-width: 767px) and (min-width: 425px) {
  .intro__title {
    font-size: 32px;
    line-height: 35px;
    width: 90vw;
    margin: 0 auto;
  }
}

@media (max-width: 425px) {
  .intro__title {
    font-size: 32px;
    line-height: 35px;
    width: 90vw;
    margin: 0 auto;

  }
}
